# Ignore node_modules for both frontend and backend
node_modules/
spotify_backend/node_modules/
spotify_frontend/node_modules/

# Ignore environment files
.env
.env.local

# Ignore log files
*.log

# OS-specific files
.DS_Store
Thumbs.db

# VSCode settings (optional)
.vscode/

# Build/output directories
dist/
build/
